{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
	  "transform-class-properties",
	  "babel-plugin-transform-object-rest-spread",
	  "transform-async-to-generator"
  ]
}
